AddPoints*/
SSIM*/
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
*.png
*.dng
*.json
*.jpeg
*.npy
*.txt
ckpts/
*.pth
*.pt
*.ply
dump/
*.html
*.txt
output/
gaussian-splatting/
optim-exps-output/
full_ds_output/
full_ds_output_ldr/
temp/
full_ds_output_2/
optuna-output/
denoise-exp/
*tfevents*

# git config --global user.name "shreyesss"
# git config --global user.email "ed19b030@smail.iitm.ac.in"

